 .card-title{
    margin-bottom: 1rem;
    color: green;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.65;
    letter-spacing: 0.00625rem;
    /* padding: 1.8125rem 1.375rem; */

}
.card-body{
    height: 16rem;
}

.view-more{
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 24px;
    color: green;
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.card-text{
  margin-top: 1rem;
  margin-bottom: 3rem;
}